# Entornos virtuales
venv/
env/

# Archivos de caché de Streamlit
.streamlit/

# Archivos de dependencias
# Dependiendo de tus elecciones de configuración de entorno y bibliotecas,
# es posible que debas agregar más entradas aquí, como node_modules/ para proyectos de JavaScript.

# Archivos de configuración
*.yaml
*.yml
*.ini

# Archivos de registro
*.log

# Otros archivos generados
db.sqlite
